header {
    max-width: 100%;
    border-style: solid;
    border-color: #C70606;
    border-width: 5px;
    background-color: #C70606;
    padding: 5px;
}

body {
    background: #FACC7C;
    padding: 5px;
    max-width: 1020px;
}

/* --- Nav Bar --- */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #C70606;
    font-family: tahoma, geneva, sans-serif;
    max-width: 100%;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1 {
    font-family: tahoma, geneva, sans-serif;
    padding: 5px;
    text-shadow: 2px 1px rgb(208,133,3);
}

h2 {
    font-family: tahoma, geneva, sans-serif;
    padding: 5px;
    text-shadow: 1px .5px rgb(208,133,3);
}

p {
    font-family: tahoma, geneva, sans-serif;
    max-width: 100%;
    padding: 5px;
}

#main {
    font-family: tahoma, geneva, sans-serif;
    font-style: oblique;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

#picture {
    padding: 5px;
    border-style: dotted;
    border-color: #C70606;
<<<<<<< HEAD
    padding: 5px;
=======
    padding: 5 px;
>>>>>>> 0f1fa5318d6fd0283e8d88709b8d217825e06617
    margin-left: 105px;
    margin-right: 98px;
    margin-top: 5px;
    margin-bottom: 5px;
}

table {
    border-collapse: separate;
    width: 40%;
    border: 1px solid black;
} 

td {
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
    font-family: tahoma, geneva, sans-serif;
}

.list {
    border-style: solid;
    max-width: 210px;
    border-width: 3px;
    border-color: rgb(208,133,3);
    margin: 5px;
}

ol {
    font-family: tahoma, geneva, sans-serif;
}

ul {
    font-family: tahoma, geneva, sans-serif;
}

footer {
    border-style: solid;
    margin: 3px;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    max-width: 100%;
}